html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Verdana', sans-serif;
    background: #18191c;
    margin: 0;
    padding: 0;
    color: #c5cec7;
}

a, a:hover {
    color: #00a36c;
}

header, footer{
    text-align: center;
    background: #0e0e0e;
    padding: 20px 30px;
}

header {
    height: 115px;
}

footer {
    height: 65px;
}

div.page {
    text-align: center;
    min-height: calc(100% - 115px);
    max-width: 1000px;
    margin: auto;
    padding-top: 0;
    padding-bottom: 65px;
    border-left: dashed #00a36c;
    border-right: dashed #00a36c;
}

div.project {
    padding: 10px 0px 10px 0px;
}

div.listitem {
    border-bottom: 1px dashed #00a36c;
    border-top: 1px dashed #00a36c;
}

div.pagination-1 {
    text-align: center;
}

p.tags {
    text-align: right;
}

p.tags span {
    background-color: #00a36c;
    border: 2px solid #00a36c;
    font-weight: bold;
    border-radius: 10%;
    color: #0e0e0e;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

div.page h2 {
    text-align: center;
    font-weight: normal;
    font-size: 35px;
}

div.page h2, div.page p {
    padding: 10px 20px;
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

ul.navbar-nav {
    display: inline-block !important;
}

li.active a {
    color: #50f3bc !important;
    font-weight: bold;
}

img.poster {
    max-width: 100%;
}